<div class="page-header">
    <h1>Olivier Lequeux<br/><small>Ingénieur informatique // Senior développeur</small></h1>
</div>


<div class="row">

    <div class="col-md-2  section_title">
        <h3>A propos</h3>
        <small>Ma vision du métier et quelques infos</small>
    </div>

    <div class="col-md-2">
        <img src="{{ app.request.basepath }}/img/photo_new_w150.png" class="img-rounded">
    </div>

    <div class="col-md-5">
        <p>Etre senior développeur c'est apporter l'experience de la nuance.
            Créer, bâtir, en sachant, au regard des contraintes doser les efforts de développement d'une équipe, en s'appuyant sur l'<a href="http://agilemanifesto.org/iso/fr/principles.html">Agilité</a> pour garder le besoin au centre du projet.
        </p>
        <p>Depuis 2009, j'évolue au sein de l'équipe responsable du <a href="http://operations-portal.egi.eu/">portail des opérations</a> de la grille <a href="http://www.egi.eu/">EGI</a>, développé au <a href="http://cc.in2p3.fr/">centre de calcul de l'IN2P3</a>  (CNRS) à Villeurbanne, dans le cadre du projet européen <a href="http://www.egi.eu/about/egi-inspire">EGI Inspire</a>.</p>
    </div>

    <div class="col-md-3">

        <div id="googlized">
            <a href="https://www.linkedin.com/profile/view?id=12103911"><span style="color:#004b63" class="fa fa-linkedin-square"></span></a>
            <span style="color:darkcyan" class="fa fa-facebook-square"></span>
            <span style="color:red" class="fa fa-google-plus-square"></span>
        </div>

        <div class="row side_info">
            <span class="col-md-1 glyphicon glyphicon-phone"></span>

            <div class="col-md-10">06 61 97 95 36</div>
        </div>
        <div class="row side_info">
            <span class="col-md-1 glyphicon glyphicon-envelope"></span>

            <div class="col-md-10">olivierlequeux@yahoo.fr</div>
        </div>
        <div class="row side_info">
            <span class="col-md-1 glyphicon glyphicon-map-marker"></span>

            <div class="col-md-10">LYON 7</div>
        </div>
    </div>
</div>