<div class="page-header">
    <h1>Olivier Lequeux<br/>
        <small>Scrum master / Facilitateur agile</small>
    </h1>
</div>

<div class="row">

    <div class="col-xs-2  section_title">
        {#<h3>A propos</h3><br/>#}
        <small class="print" style="white-space:pre;"><i class="fa fa-arrow-circle-down"></i> version web :<br/> casual-web.com</small>
        <small class="screen"><i class="fa fa-arrow-circle-down"></i> version papier <a
                    href="{{ app.request.basepath }}/cv_olivierlequeux.pdf">cv_olivierlequeux.pdf</a></small>
        <div id="googlized">
            <a href="http://fr.linkedin.com/in/olivierlequeux">
                <span class="fa fa-linkedin-square"></span>
            </a>
            <a href="https://www.facebook.com/olequeux">
                <span class="fa fa-facebook-square"></span>
            </a>
            <a href="https://plus.google.com/105867449586018224153">
                <span class="fa fa-google-plus-square"></span>
            </a>
            <a href="https://twitter.com/dours24">
                <span class="fa fa-twitter"></span>
            </a>
        </div>
    </div>

    <div class="col-xs-2">
        <img src="{{ app.request.basepath }}/img/photo_new_w150.png" class="img-rounded">
    </div>

    <div class="col-xs-5">
         <p id="intro2" >
            Actuellement en poste, scrum master d'un équipe de 10 personnes. A l'écoute du marché sur tous les sujets de scrum mastering, coaching et management agile.
        </p>

        <p id="intro2" class="print">

        </p>

        <p>
            Convaincu par le paradigme Agile et la nécessité de garder le besoin et les hommes au centre du produit.
        </p>
    </div>

    <div class="col-xs-3">

        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-phone"></span>

            <div class="col-xs-10">06 61 97 95 36</div>
        </div>
        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-envelope"></span>

            <div class="col-xs-10">olivierlequeux@yahoo.fr</div>
        </div>
        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-map-marker"></span>

            <div class="col-xs-10">10, rue Marie-Madeleine Fourcade - LYON 7</div>
        </div>
        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-user"></span>

            <div class="col-xs-10">42 ans, en couple, 1 enfant</div>
        </div>
    </div>
</div>