<div class="row">

    <div class="col-md-2">
        <h3>A propos de moi</h3>
    </div>

    <div class="col-md-2">
        <img src="{{ app.request.basepath }}/img/photo_w150.jpg" class="img-rounded">
    </div>

    <div class="col-md-5">
        <p>Etre senior développeur c'est apporter l'experience de la nuance.
            Créer, bâtir, en sachant, au regard des contraintes doser les efforts de développement d'une équipe, tout en
            maitrisant la dette technique.
            S'appuyer sur l'Agilité pour garder le besoin au centre de la dynamique et la communication comme moteur du
            projet.
            Enfin, toujours aller vers l'excellence technique en encourageant l'intégration continue.
        </p>
    </div>

    <div class="col-md-3">

        <div id="googlized">
            <span style="color:#004b63" class="fa fa-linkedin-square"></span>
            <span style="color:darkcyan" class="fa fa-facebook-square"></span>
            <span style="color:red" class="fa fa-google-plus-square"></span>
        </div>

        <div class="row side_info">
            <span class="col-md-1 glyphicon glyphicon-phone"></span>

            <div class="col-md-10">06 61 97 95 36</div>
        </div>
        <div class="row side_info">
            <span class="col-md-1 glyphicon glyphicon-envelope"></span>

            <div class="col-md-10">olivierlequeux@yahoo.fr</div>
        </div>
        <div class="row side_info">
            <span class="col-md-1 glyphicon glyphicon-map-marker"></span>

            <div class="col-md-10">LYON 7</div>
        </div>
    </div>
</div>