<div class="page-header">
    <h1>Olivier Lequeux<br/><small>Lead développeur</small></h1>
</div>


<div class="row">

    <div class="col-xs-2  section_title">
        <h3>A propos</h3><br/>
        <small class="print"><i class="fa fa-arrow-circle-down"></i> version web  www.casual-web/olivierlequeux</small>
        <small class="screen"><i class="fa fa-arrow-circle-down"></i> version papier  <a href="{{ app.request.basepath }}/cv_olivierlequeux.pdf">cv_olivierlequeux.pdf</a></small>
    </div>

    <div class="col-xs-2">
        <img src="{{ app.request.basepath }}/img/photo_new_w150.png" class="img-rounded">
    </div>

    <div class="col-xs-5">
       <!-- <p id="intro1">Etre senior développeur c'est apporter l'expérience de la nuance.
            Créer, bâtir, en sachant, au regard des contraintes doser les efforts de développement d'une équipe, en s'appuyant sur l'<a href="http://agilemanifesto.org/iso/fr/principles.html">Agilité</a> pour garder le besoin au centre du projet.
        </p>-->
        <p id="intro2" class="screen">
            Depuis 2009, évolue au sein de l'équipe responsable du <a href="http://operations-portal.egi.eu/">portail des opérations</a> de la grille <a href="http://www.egi.eu/">EGI</a>, dévelopé au <a href="http://cc.in2p3.fr/">centre de calcul de l'IN2P3</a> (CNRS) pour le projet européen <a href="http://www.egi.eu/about/egi-inspire">EGI Inspire</a>.
        </p>

        <p id="intro2" class="print">
            Depuis 2009, évolue au sein de l'équipe responsable du portail des opérations de la grille EGI, développé au Centre de Calcul de l'IN2P3 (CNRS) pour le projet européen EGI Inspire.
        </p>
    </div>

    <div class="col-xs-3">

        <div id="googlized">
            <a href="https://www.linkedin.com/profile/view?id=12103911"><span style="color:#004b63" class="fa fa-linkedin-square"></span></a>
            <span style="color:darkcyan" class="fa fa-facebook-square"></span>
            <span style="color:red" class="fa fa-google-plus-square"></span>
        </div>

        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-phone"></span>
            <div class="col-xs-10">06 61 97 95 36</div>
        </div>
        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-envelope"></span>
            <div class="col-xs-10">olivierlequeux@yahoo.fr</div>
        </div>
        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-map-marker"></span>
            <div class="col-xs-10">10, rue Marie-Madeleine Fourcade - LYON 7</div>
        </div>
        <div class="row side_info">
            <span class="col-xs-1 glyphicon glyphicon-user"></span>
            <div class="col-xs-10">40 ans, en couple, 1 enfant</div>
        </div>
    </div>
</div>