<div class="row"></div>
<div class="col-md-2">
    <h3>A propos de moi</h3>
</div>

<div class="col-md-2">
    <img src="{{ app.request.basepath }}/img/photo_w150.jpg" class="img-rounded">
</div>

<div class="col-md-5">
    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
        quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
</div>

<div class="col-md-3">
    <table>
        <tr>
        <th><span class="glyphicon glyphicon-search"></span>
        </th>
            <td>06 61 97 95 36
        </tr>
    </table>
</div>

</div>