{%  include 'layout.twig' %}


<section id="aboutme">
    {%  include 'aboutme.twig' %}
</section>

<section id="experience">
    {%  include 'experience.twig' %}
</section>

<section id="formation">
    {%  include 'formation.twig' %}
</section>

<section id="portfolio">
    {%  include 'portfolio.twig' %}
</section>