{% include 'layout.twig' %}

<div class="container">

    <div class="page-header">
        <h1>Olivier Lequeux<br/><small>Senior développeur</small></h1>

    </div>

    <section id="aboutme">
        {% include 'aboutme.twig' %}
    </section>

    <section id="experience">
        {% include 'experience.twig' %}
    </section>

    <section id="formation">
        {% include 'formation.twig' %}
    </section>

    <section id="portfolio">
        {% include 'portfolio.twig' %}
    </section>
</div>