{% include 'layout.twig' %}

<div class="container">

    <section id="aboutme">
        {% include 'aboutme.twig' %}
    </section>

    <section id="experience">
        {% include 'experience.twig' %}
    </section>

    <section id="formation">
        {% include 'formation.twig' %}
    </section>

    <section id="divers">
        {% include 'divers.twig' %}
    </section>
</div>