<div class="row">

    <div class="col-xs-2 section_title">
        <h3>Experience</h3>
    </div>
</div>

<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>mai 2015 - aujourd'hui</h4>
        <br/><br/>
        <small>Agilité, scrum, serious game, impact mapping, personnas, story mapping.                                                                                                                                                                                                                                                                    </small>
        <br class="screen"><br class="screen"><br/>
        <small>Cohésion, transparence, auto-organisation, intelligence collective, animation, focus, processus décisionnel</small><br><br>
        <small>Micro services, DDD, Symfony2/3</small>
        <br><br>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Scrum master / Facilitateur agile - Attestation Légale à Lyon (www.attestationlegale.fr)<br>
            <small>J'ai assurré le leadership technique pendant le premier tiers de mon experience pour me consacrer pleinement au scrum mastering par la suite.</small></h4>
        <br/>
        <h5>
            <i class="fa fa-th"></i> Scrum mastering et Product ownership<br>
        </h5>
        <ul>
            <li>Formation des Product Owner et de l'équipe aux valeurs de l'Agilité et à Scrumban.</li>
            <li>Animation de brainstorming sur des points technologiques ou des sujets de vision et de stratégie.</li>
            <li>Coordination de l'écriture des spécifications, de la planification et de l'estimation des release et des sprints.</li>
            <li>Mise en place et suivi des backlogs de Release et de Sprint.</li>
            <li>Conception collaborative des règles de production de la valeur.</li>
            <li>Organisation du management visuel et mise à jour des indicateurs (vélocité, burdown chart, ...).</li>
            <li>Organisation et animation des cérémonials Scrum.</li>
        </ul>
        <br/>
        <h5><i class="fa fa-th"></i> Management & Leadership <br>
            </small>
        </h5>
        <ul>
            <li>Participation au recrutement et à la configuration de l'équipe de développement.</li>
            <li>Reporting et communication auprès de la hiérarchie et de l'entreprise.</li>
            <li>Suivi des prestataires.</li>
            <li>Leadership technique.</li>
        </ul>
    </div>
</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>juillet 2009 - novembre 2014</h4>
        <br/><br/>
        <small>Agilité, design patterns, Redmine, Intégration continue, PHPStorm, pair programming</small>
        <br class="screen"><br/>
        <small>LAMP, Symfony1.4/2, MySQL, Doctrine, SOAP, Bootstrap, MongoDB, Lavoisier, Xslt, Xpath, Git,
            jQuery, CSS
        </small>
        <br><br>
        <small><strong>Anglais</strong> : 5 ans dans un contexte international

        </small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Lead développeur - Centre de Calcul de l'IN2P3-CNRS à Villeurbanne (cc.in2p3.fr).<br>
        <small>Ces deux missions se sont déroulées dans le carde du dévelloppement d'applications web (operations-portal.egi.eu) dédiés à la communauté de la grille de calcul européenne : www.egi.eu/about/egi-inspire ).
        </small></h4><br>
        <h5>
            <i class="fa fa-th"></i> Agilité et leadership technique<br>
        </h5>
        <ul>
            <li>Rédaction de stories et de specifications techniques.</li>
            <li>Co-organisation des priorisations et des cycles de développement.</li>
            <li>Animation du management visuel inspiré de Kanban.</li>
            <li>Produc owner-ship pour le projet Lavoisier (software.in2p3.fr/lavoisier).</li>
            <li>Encadrement et formation technique.</li>
            <li>Supervision de la qualité des développements.</li>
            <li>Design de l'architecture des applications.</li>
        </ul>

        <h5><i class="fa fa-th"></i> Analyse et conception logicielle <br>
        </h5>
            <ul>
                <li>Conception d'outils de monitoring de l'infrastructure de grille de calcul.</li>
                <li>Conception de l'outil de communication officiel du projet EGI.</li>
                <li>Migration des applications vers une architecture orientée services (SOA).</li>
                <li>Coordination de la refactorisation de l'ergonomie et du design (Bootstrap).</li>
                <li>Développement des APIs exposées à la communauté.</li>
            </ul>
    </div>
</div>


<div class="row sub_section" id="webmaster">
    <div class="col-xs-2 section_title">
        <h4>2008 - 2009</h4>
        <small>PHP, javascript, CSS, MySQL</small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Webmaster freelance (84)</h4>

        <p><i class="fa fa-th"></i> Autoentrepreneur, réalisation de sites web:<br/>
        <ul>
            <li>Prise de brief, facturation.</li>
            <li>Hébergement, référencement.</li>
            <li>Développement, coordination du design.</li>
        </ul>
    </div>

    <div class="col-xs-2 section_title">
        <h4>2006 - 2009</h4>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Professeur au collège Immaculée Conception (84)</h4>
        <ul>
            <li>Enseignant en technologie de la 6ème à la 3ème.</li>
            <li>Soutien scolaire.</li>
        </ul>
    </div>
    <div class="col-xs-2 section_title">
        <h4>2003 - 2006</h4>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Formation musicale professionnelle  - Promusica Le Thor (84)</h4>
    </div>

    <div class="col-xs-2 section_title">
        <h4>1999 - 2003</h4>
        <small>Visual C++, C, OpenGL</small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Développeur à BCIsa (84)</h4>

        <p><i class="fa fa-th"></i>
            Participation à la conception et au développement d'un logiciel d'édition <br/>d’un système d'information
            géographique propriétaire au sein d’un équipe de 5 personnes.</p>
    </div>
</div>
