<div class="row">

    <div class="col-xs-2 section_title">
        <h3>Experience</h3>
    </div>

</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>depuis juillet 2009</h4>
        <br/> <br/><br/>
        <small>Agilité, Scrum, design patterns, Redmine, Intégration continue, développement en binôme</small>
        <br><br><br><br class="screen"><br class="screen"><br/>
        <small>LAMP, Symfony1.4/2, Doctrine, SOAP, Bootstrap, MongoDB, Lavoisier, Xslt, Xpath, javascript,
            jQuery, CSS, Openstack, bash, Python
        </small>
        <br><br><br>
        <small><strong>Anglais</strong> : professionnel, 5 ans dans un contexte internationnal

        </small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Lead développeur - Centre de Calcul de l'IN2P3-CNRS à (Villeurbanne)</h4>
        <br/>
        <h5>
            <i class="fa fa-th"></i> Encadrement technique <br>
            <small>( Applications web dédiées aux opérations au sein de la grille de calcul européenne)
            </small>
        </h5>
        <ul>
            <li>Encadrement et formation technique</li>
            <li>Supervision de la qualité des développements</li>
            <li>Co-organisation des cycles de développement</li>
            <li>Design de l'architecture des applications</li>
            <li>Rédaction de fiches techniques</li>
            <li>Veille technologique</li>
        </ul>
        <br/>
        <h5><i class="fa fa-th"></i> Analyse et conception logicielle <br>
            <small>( Ensemble d'outils web  dédiés à la communauté EGI : European Grid Infrastructure )
            </small>
        </h5>
        <ul>
            <li>Projets</li>
            <ul>
            <li>Conception d'outils de monitoring de l'infrastructure de grille de calcul</li>
            <li>Participation au dévelopement de la gestion des VOs (Virtual Organisations)</li>
            <li>Conception de l'outil de communication officiel du projet EGI</li>
            <li>Initiation de l'application calculant la disponibilité des centres de calculs de la grille</li>
            </ul>
            <li>Activités transeverses</li>
            <ul>
                <li>Migration des applications vers une architecture orientée services (SOA)</li>
                <li>Conception des outils de déploiement</li>
                <li>Coordination de la refactorisation de l'ergonomie et du design (Bootstrap)</li>
                <li>Développement de l'API d'interrogation du framework Lavoisier</li>
                <li>Support utilisateur</li>
            </ul>
        </ul>
        <br/>
        <h5><i class="fa fa-th"></i> Soutien de projet ( software.in2p3.fr/lavoisier)</h5>
        <ul>
            <li>Principal référent pour l'expression et la définition des besoins</li>
            <ul>
                <li>Participation à l'orientation des développements : en particulier à la définition des
                    langages de configuration
                </li>
                <li>Coopération lors de la priorisation des tâches</li>
            </ul>
            <li>Promotion du framework</li>
            <ul>
                <li>Accompagnement des utilisateurs au sein du centre de calcul</li>
                <li>Participation à la rédaction de posters et de la documentation</li>
            </ul>
        </ul>
    </div>
</div>


<div class="row sub_section" id="webmaster">
    <div class="col-xs-2 section_title">
        <h4>2008 - 2009</h4>
        <small>PHP, javascript, CSS, MySQL</small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Webmaster frelance (84)</h4>

        <p><i class="fa fa-th"></i> Autoentrepreneur, réalisation de sites web:<br/>
        <ul>
            <li>Prise de brief</li>
            <li>Hébergement</li>
            <li>Collaboration avec des graphistes</li>
            <li>Référencement</li>
            <li>Facturation</li>
        </ul>
    </div>
</div>

<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>2006 - 2009</h4>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Professeur au collège Immaculée Conception (84)</h4>
        <ul>
            <li>Enseignant en technologie de la 6ème à la 3ème</li>
            <li>Responsable B2i (Brevet Informatique et internet)</li>
            <li>Soutien scolaire</li>
        </ul>
    </div>
</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>2003 - 2006</h4>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Formation musicale professionnelle</h4>

        <p><i class="fa fa-th"></i> Promusica - Le Thor(84)</p>
    </div>
</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>1999 - 2003</h4>
        <small>Visual C++, C, OpenGL</small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Développeur à BCIsa (84)</h4>

        <p><i class="fa fa-th"></i>
            Participation à la conception et au développement d'un logiciel d'édition d’un système d'information
            géographique
            propriétaire au sein d’un équipe de 5 personnes</p>
    </div>
</div>
