<div class="row">

    <div class="col-md-2 section_title">
        <h3>Experience</h3>
    </div>

    <div class="col-md-10">

    </div>

</div>


<div class="row sub_section">
    <div class="col-md-2 section_title">
        <h4>depuis 2012</h4>
        <small>direction technique  architecture développement  support</small>
    </div>
    <div class="col-md-10 section_comment">
        <h4>Développeur senior  - Centre de calcul de l'IN2P3 (CNRS) à Villeurbanne</h4>
        <strong>Dashboard framework :</strong>
        <ul>
            <li>Réalisation d’un ensemble de services basés sur les composants de Symfony2 et Lavoisier.</li>
            <li>Refonte graphique et de l’architecture vers un modèle orienté services (SOA).</li>
            <li>Déploiement de quatre dashboards des opérations pour différentes communautés de la grille de calcul.
            </li>
        </ul>

        <strong>Lavoisier</strong>

        <ul>
            <li>Large participation à la conception du langage de <a
                        href="http://software.in2p3.fr/lavoisier">Lavoisier</a>, framework d'aggrégation de données.
            </li>
            <li>Rôle de product owner, Lavoisier étant utilisé en backend des dashboards.</li>
        </ul>

        <strong>ARGO</strong>
        <ul><li>Application web basée sur Lavoisier permettant de calculer et mettre à disposition les mesures de disponibilité de l'infrastructure impliquée dans les calculs réalisées par les expériences scientifiques.</li></ul>


        <strong>Ecole Informatique de l’IN2P3</strong>
        <ul><li>Rédaction des <a href="forge.in2p3.fr/projects/travaux-pratiques-publics/wiki/MongoDB"/>tutoriaux mongoDB</a> préparation des machines virtuelles.</li></ul>

        <strong>Astreinte</strong>
        <ul><li>Surveillance de l'ensemble des service du centre pendant les heures non ouvrables</li></ul>

        <i class="fa fa-th"></i> LAMP, Symfony, Silex, CSS, XSLt, Xpath, javascript, jQuery, twiter Bootsrap, MongoDB,
        OpenStack, Python, Doctrine, Lavoisier, bash</p>
    </div>
</div>


<div class="row sub_section">
    <div class="col-md-2 section_title">
        <h4>2009 - 2012</h4>
        <small>conception, développement, support</small>
    </div>
    <div class="col-md-10 section_comment">
        <h4>Dévelloppeur senior - Centre de calcul de l'IN2P3 (CNRS) à Villeurbanne</h4>
        <strong>Dashboard des opérations :</strong>
        <ul>
            <li>Application web de monitoring de l’infrastructure des centres de calculs participant au projet EGI
                (European Grid Infractsucture) pour la recherche scientifique.
            </li>
            <li>Packaging et déploiement de l’outil dans plusieurs pays.</li>
        </ul>

        <strong>Broadcast</strong>

        <ul><li>Application web permettant de contacter par mail tous les acteurs de la grille de calcul EGI.eu.</li></ul>
        <strong>VO ID Cards</strong>

        <ul>
            <li>Application web permettant la gestion, l’hébergement et publication des informations relatives aux VO.
                (<a href="https://www.egi.eu/community/vos">Virtual Organisations</a>)
            </li>
        </ul>
        </p>
        <i class="fa fa-th"></i> LAMP, Symfony, CSS, XSLt, Xpath, javascript, prototype, Doctrine, Lavoisier, </p>
    </div>
</div>


<div class="row sub_section">
    <div class="col-md-2 section_title">
        <h4>2008 - 2009</h4>
    </div>
    <div class="col-md-10 section_comment">
        <h4>Webmaster frelance (84)</h4>

        <p>Autoentrepreneur pendant 1 ans, réalisation sites web
            <br/><i class="fa fa-th"></i> PHP, javascript, MySql, référencement, hébergement</p>
    </div>
</div>

<div class="row sub_section">
    <div class="col-md-2 section_title">
        <h4>2006 - 2009</h4>
    </div>
    <div class="col-md-10 section_comment">
        <h4>Professeur de technologie au collège (84)</h4>

        <p>Collège privé Immaculée Conception</p>
    </div>
</div>


<div class="row sub_section">
    <div class="col-md-2 section_title">
        <h4>1999 - 2003</h4>
    </div>
    <div class="col-md-10 section_comment">
        <h4>Développeur à BCIsa (84)</h4>

        <p><strong>SNN</strong> (Shared Navigartion Network)

        <p>Logiciel d'édition d’un <a href="http://fr.wikipedia.org/wiki/Syst%C3%A8me_d'information_g%C3%A9ographique">SIG</a>
            propriétaire au sein d’un équipe de 5 personnes.
            <br/><i class="fa fa-th"></i> Visual C++, C, OpenGL</p>
    </div>
</div>
