<div class="row">

    <div class="col-xs-2 section_title">
        <h3>Experience</h3>
    </div>

</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>depuis juillet 2009</h4>
        <br/> <br/>
        <small>Agilité, Scrum, design patterns, Redmine, Intégration continue</small>
        <br><br><br><br><br>
        <small>LAMP, Symfony1.4/2, Doctrine, SOAP, twitter Bootsrap, MongoDB, Lavoisier, Xslt, Xpath, javascript, jQuery, CSS, Openstack, Python</small>
        <br><br><br>
        <small><strong>Anglais</strong> : professionnel, 5 ans dans un contexte internationnal

            </small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Ingénieur d'étude // lead développeur - Centre de Calcul de l'IN2P3-CNRS à (Villeurbanne)</h4>
        <br/>
        <strong>
            <i class="fa fa-th"></i> Direction technique des applications web dédiées à la surveillance de l'infrastructure de la grille européenne EGI.</strong>
        <ul>
            <li>Encadrement technique et formation</li>
            <li>Supervision de la qualité des développements</li>
            <li>Co-organisation des cycles de développement</li>
            <li>Design de l'architecture des applications</li>
            <li>Rédaction de fiches techniques</li>
            <li>Veille technologique</li>
        </ul>
        <br/>
        <strong><i class="fa fa-th"></i> Analyse et conception logicielle</strong>
        <ul>
            <li>Couche d'autentification et d'autorisation des utilisateurs</li>
            <li>Services de requêtage au framework Lavoisier</li>
            <li>Modèle de données permettant l'historisation et la consultation d'alertes (Doctrine, Nagios)</li>
            <li>Package de gestion des workflows de systèmes de tickets hétérogènes</li>
            <li>Process de synchronisation de bases de données MySql</li>
            <li>Refactoring d'applications vers une architecture orienté services (SOA)</li>
            <li>Conception des outils de déploiement des services web</li>
            <li>Coordination de la refactorisation de l'ergonomie et du design des outils</li>
            <li>Support utilisateur</li>
        </ul>
        <br/>
        <strong><i class="fa fa-th"></i> Soutien de projet // framework d'aggregation de données : Lavoisier</strong>
        <ul>
            <li>Référent pour l'expression et définition des besoins</li>
            <li>Participation à la rédaction de posters et de la documentation  </li>
            <li>Promotion du framework au sein du centre de calcul</li>
            <li>Participation à la création des langages de configuration</li>
            <li>Coopération lors de la priorisation des tâches et à l'orientation des développements</li>
        </ul>
    </div>
</div>



<div class="row sub_section" id="webmaster">
    <div class="col-xs-2 section_title">
        <h4>2008 - 2009</h4>
        <small>PHP, javascript, CSS, MySQL</small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Webmaster frelance (84)</h4>

        <p><i class="fa fa-th"></i> Autoentrepreneur, réalisation de sites web:<br/>
        <ul><li>Prise de brief</li>
            <li>Hébergement</li>
            <li>Collaboration avec des graphistes</li>
            <li>Référencement</li>
            <li>Facturation</li>
        </ul>
    </div>
</div>

<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>2006 - 2009</h4>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Professeur au collège Immaculée Conception (84)</h4>
       <ul>
           <li>Enseignant en technologie de la 6ème à la 3ème</li>
           <li>Responsable B2i (Brevet Informatique et internet)</li>
           <li>Soutien scolaire</li>
       </ul>
    </div>
</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>2003 - 2006</h4>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Formation musicale professionnelle</h4>
        <p><i class="fa fa-th"></i> Promusica - Le Thor(84)</p>
    </div>
</div>


<div class="row sub_section">
    <div class="col-xs-2 section_title">
        <h4>1999 - 2003</h4>
        <small>Visual C++, C, OpenGL</small>
    </div>
    <div class="col-xs-10 section_comment">
        <h4>Développeur à BCIsa (84)</h4>
        <p><i class="fa fa-th"></i>
            Participation à la conception et au développement d'un logiciel d'édition d’un système d'information géographique
            propriétaire au sein d’un équipe de 5 personnes</p>
    </div>
</div>
