<div class="row">

    <div class="col-xs-2 section_title">
        <h3>Formation</h3>
        <small>Universitaire et professionelle</small>
    </div>

    <div class="col-xs-10">
        <div class="col-xs-6">
            <ul>
                <li>IUP Mathématiques et Informatique (BAC+4) (1999)</li>
                <li>IUT Génie Électrique et informatique industrielle (1995)</li>
                <li>BAC C (1993)</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul>
                <li>Conduite de projets, ITIL</li>
                <li>Agilité, Scrum</li>
                <li>XML, XSLt, Xpath</li>
            </ul>
        </div>
    </div>

</div>


